#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;              
  font-size: large;
}
body ,html{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
    padding: 0;
     min-height: 100vh;
    box-sizing: border-box;
    background-image: url('./gify.gif');
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      height: 100%;
      overflow-x: hidden;
}

.navbar {
  width: 50%;
  height: 5%;
  display: flex;
  flex-direction: row;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ff7b46;
  border-radius: 4px;
}

button {
  background-color: #ff4800;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #aa3304;
  color: white;
}

.login-container {
  width: 600px;
  height: auto;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffd698;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container div {
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blog-form-container {
  width: 1000px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffd698;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.blog-form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.blog-form-container div {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  margin-bottom: 10px;
}

.blog-form-container input[type="text"],
.blog-form-container textarea {
  width: 99%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.blog-form-container textarea {
  height: 100px;
  resize: vertical;
}

.blogbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-form-container p.message {
  color: #005003;
  font-weight: bold;
  margin-top: 10px;
}

.blog-details-container {
  width: 50%;
  margin: 0 auto;
}

.blogdetails button {
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
}

/* Media Query for Tablets and Below (Max-width 768px) */
@media (max-width: 768px) {
  .blog-details-container {
      width: 90%;
      margin: 0 auto;
    }
  .blog-form-container {
    width: 90%;
    padding: 15px;
  }

  .login-container {
    width: 80%;
  }

  .navbar {
    width: 90%;
  }
}

/* Media Query for Mobile Phones (Max-width 480px) */
@media (max-width: 480px) {
  .blog-form-container {
    width: 100%;
    padding: 10px;
  }
    .blog-details-container {
      width: 90%;
      margin: 0 auto;
    }

  .login-container {
    width: 90%;
  }

  .navbar {
    width: 100%;
  }
}