/* General Container Styles */
.welcome-container {
    text-align: center;
    padding: 20px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Blog Container Styles */
.blog-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.blog-list {
    width: 100%;
    
}

.blog-details {
    width: 100%;
    /* Full width for both list and details */
    padding: 20px;
    border-left: 1px solid #ddd;
}

/* Blog Item Styles */
.blog-item {
    border: 1px solid #ddd;
    background-color: #ffd698;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 330px;
}

.authordetails {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.blogdetails {
    text-transform: capitalize;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.blogbutton {
    height: 10%;
    margin-bottom: 20px;
}

.blogdetails .topic {
    height: 20%;
}

.blogdetails .desc,
.blogdetails .what {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.blogdetails .what {
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.blogdetails .desc {
    height: 30%;
}

.date {
    margin-left: auto;
    text-align: right;
}

.blog-item h3 {
    margin-top: 0;
}

.blog-item p {
    margin: 5px 0;
}

.blog-details button {
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.blog-details p {
    margin: 10px 0;
}

/* Media Query for Tablets and Below (Max-width 768px) */
@media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-list,
    .blog-details {
        width: 100%;
        padding: 10px;
        border-left: none;
    }
}

@media (max-width: 480px) {
    .blog-details {
        /* display: none; */
    }

    .blog-list {
        width: 100%;
    }

    .blog-item {
        height: auto;
    }

    .blogbutton button {
        width: 100%;
        font-size: 14px;
    }
}